{
    "presets": [
        [
            "env",
            {
                "target": {
                    "browsers": "> 5%"
                }
            }
        ]
    ],
    "plugins": [
        "transform-runtime",
        "transform-vue-jsx"
    ]
}